<div class="container site-footer events">
    <div class="row">
        <div class="col">
            <h2>Low-carbon</h2>
            <p>Our events are low-carbon by design. Our aim is to leave only footprints...</p>
            <p>The biggest carbon impact is travel to the event, therefore...</p>
            <ul>
                <li>Please do NOT travel to the event in a car (unless you need to for accessibility reasons).</li>
            </ul>
            <p>The events are aimed at people that are within 'self-powered distance' of the sites.<!--<br/>
                If you live too far away, maybe you could create your own event.--></p>
        </div>
    </div>
</div>



<div class="container site-footer events">
    <div class="row">
        <h2>Upcoming Events</h2>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Allerton</h3>
            <h5>International Dawn Chorus Day (Reveille 2023)</h5>
            <p class="date">Sunday 7th May 2023</p>
            <p class="place">Chellow Dean</p>
            <p class="time">
                
            </p> 
            <p class="time">
                Twilight: 04:37<br/>
                Sun Rise: 05:20
            </p>  
            <p>Meet 4:15am at The Fleece Inn at the corner of Allerton Road and North Parade, BD15 7DY.</p>
            <a href="http://streams.soundtent.org/2023/streams/utc1_-d95d6836-c849-4c39-aa01-5d732f38afae" class="btn btn-outline-light" style="clear:both; margin-top:10px; text-align:center"> Listen Live</a><br>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
           <p>We'll walk as a group to Chellow Dean via North Parade, with our walk leader Chris, to a spot in the woods on the edge of Chellow Dean.</p> 
            <p>When we reach our place in the woods we will stay there until the sun has risen (5:20am) and witness the dawning of the day.</p>
            <p>We will <a href="http://streams.soundtent.org/2023/streams/utc1_-d95d6836-c849-4c39-aa01-5d732f38afae">broadcast the sounds we hear</a> as part of <a href="https://soundtent.org/soundcamp_reveil.html">Reveille 2023</a>, an international broadcast of the Dawn Chorus from around the globe. </p>
            <p>We anticipate that people will make their own creative responses to the event through drawing, writing, poetry, and so on.</p>
            <p>Once the sun has risen our walk leader will guide people back to the Fleece Inn.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Please Note</h5>
            <ul>
                <li>You will arrive in the dark, before the sun rises. Bring a torch.</li>
                <li>Invitations for this event have been distributed to people living within walking distance of the site.</li>
                <li>In order to keep this a low carbon event we would ask that people do not travel by car.</li>
                <li>The event will take place whatever the weather - unless there is a severe weather warning.</li>
                <li>You will need to be self-sufficient for about 2 hours. You are responsible for your own welfare at this event.</li>
                <li>There are no amenities e.g. toilets, shelter, shops, or car parks, at these sites.</li>  
            </ul>
            <h5>You might bring</h5>
            <ul>
                <li>A torch - both to see and to be seen.</li>
                <li>Appropriate clothing for the weather and terrain. Walking boots, water proof clothing, spare layers, hat, gloves.</li>
                <li>An umbrella.</li>
                <li>You may be stationary, outside for about an hour. Some people may bring sleeping bags.</li>
                <li>Food and drink.</li>
                <li>Something to sit on. A camping/carry mat or a fold up chair.</li>
                <li>An audio recording device (a phone would do).</li>
                <li>Notepad and pen for writing or drawing.</li>
                <li>Your creative craft/activity.</li>
            </ul>
        </div>
    </div>
</div>

<div class="container site-footer">
    <h2>Past Events</h2>

   <!--<div class="row">
        <div class="col">
            <ul>
                <li>You will arrive in the dark, before the sun rises.</li>
                <li>The event will take place whatever the weather - unless there is a severe weather warning.</li>
                <li>You will need to be self-sufficient for about 2 hours. You are responsible for your own welfare at this event.</li>
                <li>There are no amenities e.g. toilets, shelter, shops, or car parks, at these sites.</li>  
            </ul>
            <h5>You might bring</h5>
            <ul>
                <li>A torch - both to see and to be seen.</li>
                <li>Appropriate clothing for the weather and terrain. Walking boots, water proof clothing, spare layers, hat, gloves.</li>
                <li>An umbrella.</li>
                <li>You may be stationary, outside for about an hour. Some people may bring sleeping bags.</li>
                <li>Food and drink.</li>
                <li>Something to sit on. A camping/carry mat or a fold up chair.</li>
                <li>An audio recording device (a phone would do).</li>
                <li>Notepad and pen for writing or drawing.</li>
                <li>Your creative craft/activity.</li>
            </ul>
        </div>
    </div>-->


    <div class="row past-event">
        <h3><a href="{% link _posts/2023-03-29-Cliffe-Castle-Keighley.md %}">Keighley</a></h3>
        <div class="col-lg-6 col-md-6 col-sm-12"> 
           
            <h5>(not quite) Spring Solstice</h5>
            <p class="date">Wednesday March 29th 2023
            <p class="place">Cliffe Castle, Keighley</p>

         
            <blockquote><i class="fa-solid fa-quote-left" aria-hidden="true"></i>  It was nice and different. First time I've listened to something like this.</blockquote>
            <blockquote>Calm. Pleasant. Grounded.  <i class="fa-solid fa-quote-right" aria-hidden="true"></i></blockquote>
            
            <p><a href="{% link _posts/2023-03-29-Cliffe-Castle-Keighley.md %}">Find out more about our Sense of Place event in Keighley</a>.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <p>
                <img src="{{ site_url}}/assets/images/keighley/drawings.jpg"/>
            </p>
        </div>
    </div>
        
    <div class="row past-event" >
        <h3><a href="{% link _posts/2022-11-29-All-Saints-Bingley.md %}">Bingley</a></h3>
        <div class="col-lg-6 col-md-6 col-sm-12"> 
           
            <h5>All Saints Church</h5>
            <p class="date">Tuesday 29th November 2022</p> 
        
            <blockquote><i class="fa-solid fa-quote-left" aria-hidden="true"></i>  Peaceful, centred, thought provoking.</blockquote>
            <blockquote>Calm and curious.</blockquote>
            <blockquote>Loved the listening kits, so beautifully put together.</blockquote>
            <blockquote>Full of Bingley.  <i class="fa-solid fa-quote-right" aria-hidden="true"></i></blockquote>
            
            <p><a href="{% link _posts/2022-11-29-All-Saints-Bingley.md %}">Find out more about our Sense of Place event in Bingley</a>.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
                <p><img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F389253679%2F1106839598053%2F1%2Foriginal.20221108-133823?auto=format%2Ccompress&amp;q=75&amp;sharp=10&amp;s=a3912968bf3dd24d700333b1413b7e40"/></p>
        </div>
    </div>
</div>