<div class="container site-footer events">
    <div class="row">
        <div class="col">
            <h2>Low-carbon</h2>
            <p>This is a low-carbon event by design. Our aim is to leave only footprints...</p>
            <p>The biggest carbon impact is travel to the event, therefore...</p>
            <ul>
                <li>Please do NOT travel to the event in a car (unless you need to for accessibility reasons).</li>
            </ul>
            <p>The events are aimed at people that are within 'self-powered distance' of the sites.<!--<br/>
                If you live too far away, maybe you could create your own event.--></p>
        </div>
    </div>
</div>

<div class="container site-footer events">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" markdown="1">
            <h3>Bingley</h3>
            <h5>All Saints Church</h5>
            <p class="date">Tuesday 29th November 2022</p>
                <p class="place">Join us in the church to listen to sounds that will anchor you in time and place.</p>
                <p class="time">
                    Doors: 18:30<br/>
                    Starts: 18:45<br/>
                    Ends: 19:30 - 20:00 
                </p>
                <p>FREE. Booking Required.</p>
            <!--<h5><a href="{{ site.url }}{% post_url 2022-09-23-Autumn-Equinox %}">Autumn Equinox</a> - CANCELLED</h5>
            <p>A rearranged event is being planned.</p>-->
            <!--<h5>Cancelled - Autumn Solstice</h5>
            <p class="date">Friday 23rd September 2022</p>
            <p class="place">Altar Rock / Druids Altar</p>
                        <p class="time">
                Twilight: 06:19<br/>
                Sun Rise: 06:54
            </p>   -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h3>Keighley</h3>
            <h5>Spring Solstice</h5>
            <p class="date">Monday March 20th 2023
            <p class="place">Place to be confirmed</p>
            <p class="time">
                Twilight: 05:35<br/>
                Sun Rise: 06:10
            </p>
            
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
        <h3>Allerton</h3>
        <h5>International Dawn Chorus Day</h5>
        <p class="date">Sunday 7th May 2023</p>
        <p class="place]">Chellow Dean</p>
        <p class="time">
            Twilight: 04:37<br/>
            Sun Rise: 05:20
        </p>  
        </div>
    </div>

</div>
<div class="container">
<h2>What you need to know</h2>

   <!--<div class="row">
        <div class="col">
            <ul>
                <li>You will arrive in the dark, before the sun rises.</li>
                <li>The event will take place whatever the weather - unless there is a severe weather warning.</li>
                <li>You will need to be self-sufficient for about 2 hours. You are responsible for your own welfare at this event.</li>
                <li>There are no amenities e.g. toilets, shelter, shops, or car parks, at these sites.</li>  
            </ul>
            <h5>You might bring</h5>
            <ul>
                <li>A torch - both to see and to be seen.</li>
                <li>Appropriate clothing for the weather and terrain. Walking boots, water proof clothing, spare layers, hat, gloves.</li>
                <li>An umbrella.</li>
                <li>You may be stationary, outside for about an hour. Some people may bring sleeping bags.</li>
                <li>Food and drink.</li>
                <li>Something to sit on. A camping/carry mat or a fold up chair.</li>
                <li>An audio recording device (a phone would do).</li>
                <li>Notepad and pen for writing or drawing.</li>
                <li>Your creative craft/activity.</li>
            </ul>
        </div>
    </div>-->

    <div class="row">
        <div class="col">
            <h3>Bingley</h3>
            <h5>All Saints Church</h5>
            <p class="date">Tuesday 29th November 2022</p>
            <p>Step outside of the day-to-day rush and step into All Saints Church.</p>
            <p>Leave the world behind you and join us for a mindful sound installation - A Sense of Place. 
                Gather to listen to sounds that will anchor you in time and place. 
                This is an invitation to listen collectively and to think about the ways in which we listen in a deeper way.</p>
                <p>It's an opportunity to find some time and space to respond creatively to the sounds you hear - we will provide a listening kit so you can take part in some mindful stitching, sketching or writing. Feel free to bring your own notebook or materials,
                     or maybe it's just some time for you to breathe and listen.</p>
            <p>The event will end with the ringing of the church bells that have rung out in Bingley for over 500yrs, 
            as the regular Tuesday evening practice starts at 7:30pm. You are welcome to stay up to 8pm to continue to listen.            </p>
            <h4>Venue</h4>
            <p>All Saints Parish Church.</p>
            <p>52 Old Main St, Bingley BD16 2RH.</p>
           
            <p>This is not a religious event and the venue is open to any faiths or none.</p>
            <p>There is ramped, step free access to the church.<br>
            Seating for this event will be in the wooden church pews.<br>
            Although the event is indoors, this is an old church so you may want to wear warm clothing.</p>

            <p class="time">
                Doors: 18:30<br/>
                Starts: 18:45<br/>
                Ends: 19:30 - 20:00 
            </p>
        
            <p>FREE. Booking Required.</p>

        </div>
    </div>
</div>