<div class="container site-footer events">
    <div class="row">
        <div class="col">
            <h2>Low-carbon</h2>
            <p>This is a low-carbon event by design. Our aim is to leave only footprints...</p>
            <p>The biggest carbon impact is travel to the event, therefore...</p>
            <ul>
                <li>Please do NOT travel to the event in a car (unless you need to for accessibility reasons).</li>
            </ul>
            <p>The events are aimed at people that are within 'self-powered distance' of the sites.<br/>
                If you live too far away, maybe you could create your own event.</p>
        </div>
    </div>
</div>

<div class="container site-footer events">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" markdown="1">
            <h3>Bingley</h3>
            <h5>Autumn Solstice - CANCELLED</h5>
            <p>A rearranged event is being planned.</p>
            <!--<h5>Cancelled - Autumn Solstice</h5>
            <p class="date">Friday 23rd September 2022</p>
            <p class="place">Altar Rock / Druids Altar</p>
                        <p class="time">
                Twilight: 06:19<br/>
                Sun Rise: 06:54
            </p>   -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h3>Keighley</h3>
            <h5>Spring Solstice</h5>
            <p class="date">Monday March 20th 2023
            <p class="place">Place to be confirmed</p>
            <p class="time">
                Twilight: 05:35<br/>
                Sun Rise: 06:10
            </p>
            
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
        <h3>Allerton</h3>
        <h5>International Dawn Chorus Day</h5>
        <p class="date">Sunday 7th May 2023</p>
        <p class="place]">Chellow Dean</p>
        <p class="time">
            Twilight: 04:37<br/>
            Sun Rise: 05:20
        </p>  
        </div>
    </div>

</div>
<div class="container">
<h2>What you need to know</h2>

    <div class="row">
        <div class="col">
            <ul>
                <li>You will arrive in the dark, before the sun rises.</li>

                <li>The event will take place whatever the weather - unless there is a severe weather warning.</li>
                <li>You are responsible for your own welfare at this event.</li>
                
            </ul>
            <h5>You might bring</h5>
            <ul>
                <li>A torch</li>
                <li>Appropriate clothing for the weather and terrain</li>
                <li>Food and drink</li>
                <li>A fold up chair</li>
                <li>An audio recording device (a phone would do)</li>
                <li>Notepad and pen for writing or drawing</li>
                <li>Your creative craft/activity</li>
            </ul>
        </div>
    </div>

</div>