<div class="container gallery">
{% assign image_files = site.static_files | where: "image", true | | sort: 'date' %}
{% assign album = "" "" | split: ',' %}
{% assign directory = include.directory %}

{% for image in image_files %}
{% if image.path contains 'thumb' %}
{% continue %}
{% endif %}
{% if image.path contains directory %}
{% assign album = album | push: image %}
{% endif %}
{% endfor %}

{% for image in album %}
{% if forloop.first %}<div class="row">{% endif %}
{% assign indexmod3 = forloop.index | modulo: 3 %}
{% if indexmod3 == 1 %}<div class="row">{% endif %}
<div class="col-sm-4">
    {% assign thumbpath = 'thumbnails/' | append: directory %}
    <a href="{{site.baseurl}}{{image.path}}" data-toggle="lightbox" data-gallery="example-gallery" data-caption="{{ altcaptitle }}" class="col-sm-4"><img src="{{site.baseurl}}{{image.path | replace: directory,thumbpath }}" alt="{{ altcaptitle }}" title="{{ altcaptitle }}" class="img-fluid" /></a>
</div>
{% if forloop.last %}</div>{% elsif indexmod3 == 0 %}</div>{% endif %}
{% endfor %}
</div>
</div>